body {
    margin-bottom: 60px;
    background-color: #FFFDFD;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FFF;
}
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #EEE;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5E5E5E;
    background-color: transparent;
}


.dropdown-menu > li > a {
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0px;
    background-color: #E5E5E5;
}